

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* New CSS */

.MainPage-Tabs{
  padding: 10px;
  color: #fff;
  background-color: #b9171c;
  border: 1px solid #b9171c;
  border-radius: 5px;
  margin: 10px;
}

li{
  text-align: Left;
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

p{
  margin-bottom: 0px;
}

.Section-1_leftSidebar{
   text-align: Left;
 
}

.alertbox{
  border: 2px solid #b9171c;
  border-radius: 10px;
}

.card-main-btn{
  padding: 5px;
  margin: 5px 10px;
}

.balance-card{
  margin: 20px 10px;
  padding: 20px;
  background-color: #efefef;
}

.section1_RightSideBar , .section2_RightSideBar , .section3_RightSideBar , .section4_RightSideBar, .bookmeeting{

margin: 20px 10px;
padding: 20px;

}

.bookmeeting_link{
color: #b9171c;



}


/* Repeated Components */

.r-btn , .btn{ 
  background-color: #b9171c;
  color: #efefef;
}

.r-btn:hover , a:hover{
  background-color: #efefef;
  color: #b9171c;
}

/*  */

/* Welcome Page */

.wlcm-pg-div{
    margin: 20% auto;
    justify-content: center;
    
}

.wlcm-pg-card {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 25px;
}

.react-logo{
  width: 130px;
}

/*  */